body {
    margin: 0%;
    padding: 0%;
    background-image: url('img/back.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(97, 205, 241);
}

.button {
    background-color: #8a2be2d9;
    padding: 15px;
    font-size: 10px;
    text-align: center;
}

button {
    border: 3px solid #f9e000;
    background-color: rgb(175, 2, 109);
    padding: 14px;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    outline: none;
}

button:hover {
    background-color: rgb(175, 2, 109);
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

.name {
    font-size: 35px;
    text-align: center;
    margin-top: 20vh;
}

p {    
    margin-bottom: 18vh;
}

.message {
    margin-top: -14vh;    
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 8px #FF0000;
}